* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 30px 20px;
  background-color: rgb(217, 45, 240);
  display: flex;
  justify-content: flex-end;
}

.header-box {
  background-color: rgb(246, 180, 255);
  flex-basis: 140px;
  height: 70px;
  margin: 0px 10px;
}
header > :first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.left-box {
  background-color: lightgreen;
  width: 300px;
  height: 490px;
}
.right-box {
  background-color: green;
  max-width: 700px;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}
.box {
  background-color: yellow;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: rgb(70, 149, 253);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-box {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: lightblue;
}
